In [1]:
from sklearn.linear_model import LogisticRegression as lr

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors
from sklearn import metrics

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import math
import numpy as np
import pandas as pd
# import scipy.stats as stats
import statsmodels.api as sm

import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline

import seaborn as sns
sns.set(rc={'figure.figsize':(16,10)}, font_scale=1.3)

from scipy import stats

In [4]:
df = pd.read_csv('./healthcare-dataset-stroke-data.csv')

In [5]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [6]:
df_na = df.dropna()

In [7]:
df_na.reset_index(inplace=True)

In [8]:
pd.isnull(df_na).any()

index                False
id                   False
gender               False
age                  False
hypertension         False
heart_disease        False
ever_married         False
work_type            False
Residence_type       False
avg_glucose_level    False
bmi                  False
smoking_status       False
stroke               False
dtype: bool

In [9]:
df_na

,index,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4904,5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
4905,5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
4906,5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
4907,5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
4908,5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [10]:
df_na['ever_married'] = df_na.ever_married.map({'Yes':1, 'No':0})
# For gender, 1 means Male, 0 means Female
df_na['gender'] = df_na.gender.map({'Male':1, 'Female':0})
# For Residence_type, 1 means Urban, 0 means Rural
df_na['Residence_type'] = df_na.Residence_type.map({'Urban':1, 'Rural':0})

In [11]:
# delete the row with 'gender' value of 'Other'
df_na = df_na.dropna()
df_na.reset_index(drop=True,inplace=True)
pd.isnull(df_na).any()

index                False
id                   False
gender               False
age                  False
hypertension         False
heart_disease        False
ever_married         False
work_type            False
Residence_type       False
avg_glucose_level    False
bmi                  False
smoking_status       False
stroke               False
dtype: bool

In [12]:
df_na

,index,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,9046,1.0,67.0,0,1,1,Private,1,228.69,36.6,formerly smoked,1
1,2,31112,1.0,80.0,0,1,1,Private,0,105.92,32.5,never smoked,1
2,3,60182,0.0,49.0,0,0,1,Private,1,171.23,34.4,smokes,1
3,4,1665,0.0,79.0,1,0,1,Self-employed,0,174.12,24.0,never smoked,1
4,5,56669,1.0,81.0,0,0,1,Private,1,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,5104,14180,0.0,13.0,0,0,0,children,0,103.08,18.6,Unknown,0
4904,5106,44873,0.0,81.0,0,0,1,Self-employed,1,125.20,40.0,never smoked,0
4905,5107,19723,0.0,35.0,0,0,1,Self-employed,0,82.99,30.6,never smoked,0
4906,5108,37544,1.0,51.0,0,0,1,Private,0,166.29,25.6,formerly smoked,0
4907,5109,44679,0.0,44.0,0,0,1,Govt_job,1,85.28,26.2,Unknown,0

In [13]:
df_data = df_na.drop(columns=['index','id'])
df_data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1.0,67.0,0,1,1,Private,1,228.69,36.6,formerly smoked,1
1,1.0,80.0,0,1,1,Private,0,105.92,32.5,never smoked,1
2,0.0,49.0,0,0,1,Private,1,171.23,34.4,smokes,1
3,0.0,79.0,1,0,1,Self-employed,0,174.12,24.0,never smoked,1
4,1.0,81.0,0,0,1,Private,1,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4903,0.0,13.0,0,0,0,children,0,103.08,18.6,Unknown,0
4904,0.0,81.0,0,0,1,Self-employed,1,125.20,40.0,never smoked,0
4905,0.0,35.0,0,0,1,Self-employed,0,82.99,30.6,never smoked,0
4906,1.0,51.0,0,0,1,Private,0,166.29,25.6,formerly smoked,0
4907,0.0,44.0,0,0,1,Govt_job,1,85.28,26.2,Unknown,0

In [14]:
df_encoded = pd.get_dummies(df_data, columns = ['work_type','smoking_status'], \
                           prefix = {'work_type':'work_type', 'smoking_status' : 'smoking_status'}, drop_first=False)
df_encoded

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1.0,67.0,0,1,1,1,228.69,36.6,1,0,0,1,0,0,0,1,0,0
1,1.0,80.0,0,1,1,0,105.92,32.5,1,0,0,1,0,0,0,0,1,0
2,0.0,49.0,0,0,1,1,171.23,34.4,1,0,0,1,0,0,0,0,0,1
3,0.0,79.0,1,0,1,0,174.12,24.0,1,0,0,0,1,0,0,0,1,0
4,1.0,81.0,0,0,1,1,186.21,29.0,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,0.0,13.0,0,0,0,0,103.08,18.6,0,0,0,0,0,1,1,0,0,0
4904,0.0,81.0,0,0,1,1,125.20,40.0,0,0,0,0,1,0,0,0,1,0
4905,0.0,35.0,0,0,1,0,82.99,30.6,0,0,0,0,1,0,0,0,1,0
4906,1.0,51.0,0,0,1,0,166.29,25.6,0,0,0,1,0,0,0,1,0,0
4907,0.0,44.0,0,0,1,1,85.28,26.2,0,1,0,0,0,0,1,0,0,0

In [15]:
df_treatment = df_encoded[df_encoded['heart_disease']==1]
df_control = df_encoded[df_encoded['heart_disease']==0]

In [16]:
treat_mean = df_treatment.mean()
treat_std = df_treatment.std()
control_mean = df_control.mean()
control_std = df_control.std()

In [17]:
X_list = ['gender','age','hypertension','ever_married','Residence_type','avg_glucose_level','bmi','work_type_Govt_job',
          'work_type_Never_worked','work_type_Private','work_type_Self-employed','work_type_children','smoking_status_Unknown',
          'smoking_status_formerly smoked','smoking_status_never smoked','smoking_status_smokes']
X_descrip = ['0 to Female and 1 to Male','age of the sample','observation of hypertension',
             'Marriage states','0 to Rural and 1 to Urban','average glucose level','bmi','Whether is government job',
             'Whether is never worked','Whether job is private','Whether job is self-employed','Whether job is children',
             'Whether smoking status is unknown','Whether is formerly smoked','Whether is never smoked','Whether is smokes']

In [18]:
summary_list = []

for i in range(0, len(X_list)):
    summary_list.append([X_list[i],X_descrip[i],control_mean[X_list[i]],control_std[X_list[i]],treat_mean[X_list[i]],treat_std[X_list[i]],
                    stats.ttest_ind(df_control[X_list[i]], df_treatment[X_list[i]], equal_var=False)[0]])

summary_df = pd.DataFrame(summary_list,columns=
                          ['Label', 'Variable Description','Controls Mean','Controls STD','Treated Mean','Treated STD','t-Statistics'])
summary_df

,Label,Variable Description,Controls Mean,Controls STD,Treated Mean,Treated STD,t-Statistics
0,gender,0 to Female and 1 to Male,0.400429,0.490038,0.588477,0.493125,-5.797275
1,age,age of the sample,41.545363,22.198937,68.275720,11.706205,-32.666881
2,hypertension,observation of hypertension,0.084244,0.277784,0.238683,0.427158,-5.574922
3,ever_married,Marriage states,0.640729,0.479838,0.884774,0.319954,-11.249369
4,Residence_type,0 to Rural and 1 to Urban,0.507610,0.499996,0.502058,0.501028,0.168433
5,avg_glucose_level,average glucose level,103.730249,42.739794,135.382881,62.108697,-7.848184
6,bmi,bmi,28.820493,7.958740,30.316461,5.290212,-4.169191
7,work_type_Govt_job,Whether is government job,0.127974,0.334097,0.135802,0.343286,-0.347017
8,work_type_Never_worked,Whether is never worked,0.004716,0.068518,0.000000,0.000000,4.701011
9,work_type_Private,Whether job is private,0.572562,0.494760,0.572016,0.495808,0.016712
10,work_type_Self-employed,Whether job is self-employed,0.151125,0.358209,0.288066,0.453797,-4.629538
11,work_type_children,Whether job is children,0.143623,0.350744,0.004115,0.064150,21.199329
12,smoking_status_Unknown,Whether smoking status is unknown,0.309968,0.462530,0.152263,0.360018,6.552590
13,smoking_status_formerly smoked,Whether is formerly smoked,0.164202,0.370498,0.288066,0.453797,-4.182889
14,smoking_status_never smoked,Whether is never smoked,0.379636,0.485348,0.333333,0.472377,1.487620
15,smoking_status_smokes,Whether is smokes,0.146195,0.353340,0.226337,0.419324,-2.925697

In [19]:
df = df_encoded
df

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1.0,67.0,0,1,1,1,228.69,36.6,1,0,0,1,0,0,0,1,0,0
1,1.0,80.0,0,1,1,0,105.92,32.5,1,0,0,1,0,0,0,0,1,0
2,0.0,49.0,0,0,1,1,171.23,34.4,1,0,0,1,0,0,0,0,0,1
3,0.0,79.0,1,0,1,0,174.12,24.0,1,0,0,0,1,0,0,0,1,0
4,1.0,81.0,0,0,1,1,186.21,29.0,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,0.0,13.0,0,0,0,0,103.08,18.6,0,0,0,0,0,1,1,0,0,0
4904,0.0,81.0,0,0,1,1,125.20,40.0,0,0,0,0,1,0,0,0,1,0
4905,0.0,35.0,0,0,1,0,82.99,30.6,0,0,0,0,1,0,0,0,1,0
4906,1.0,51.0,0,0,1,0,166.29,25.6,0,0,0,1,0,0,0,1,0,0
4907,0.0,44.0,0,0,1,1,85.28,26.2,0,1,0,0,0,0,1,0,0,0

In [20]:
Y = df.stroke

df_data = df.loc[:,df.columns !='stroke']
T = df_data.heart_disease
X = df_data.loc[:,df_data.columns !='heart_disease']

In [22]:
X_hd = ['age','hypertension','avg_glucose_level','bmi']

In [23]:
T.mean()

0.049511002444987774

In [53]:
# weighted based on size ratio of treatment group and control group
model_initial = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:8.5}))])
model_initial.fit(X.loc[:,X_hd], T)

predictions_binary = model_initial.predict(X.loc[:,X_hd])
print('Accuracy: {:.4f}\n'.format(metrics.accuracy_score(T, predictions_binary)))
print('Confusion matrix:\n{}\n'.format(metrics.confusion_matrix(T, predictions_binary)))
print('F1 score is: {:.4f}'.format(metrics.f1_score(T, predictions_binary)))

Accuracy: 0.8462

Confusion matrix:
[[3998  667]
 [  88  155]]

F1 score is: 0.2911

In [54]:
likelihood_ratio_table = []
X_l = X_hd.copy()

while not likelihood_ratio_table or max([x for x in likelihood_ratio_table[-1].values() if x != '-']) >= 1:
    if likelihood_ratio_table:
        max_likelihood_ratio = max([x for x in likelihood_ratio_table[-1].values() if x != '-'])
        next_label = [key for key in likelihood_ratio_table[-1] if likelihood_ratio_table[-1][key] == max_likelihood_ratio][0]
        X_l.append(next_label)
    model = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:8.5}))])
    model.fit(X.loc[:,X_l], T)
    step = {}
    for x in X.columns:
        if x in X_l:
            step[x] = '-'
        else:
            X_new = X_l.copy()
            X_new.append(x)
            model_new = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:8.5}))])
            model_new.fit(X.loc[:,X_new], T)
            
            step[x] = -2*((-metrics.log_loss(T, model.predict_proba(X.loc[:,X_l]))*len(T))
                      -(-metrics.log_loss(T, model_new.predict_proba(X.loc[:,X_new]))*len(T)))
    likelihood_ratio_table.append(step)

In [55]:
linear_terms_list = []
for x in X.columns:
    row = [step[x] for step in likelihood_ratio_table]
    row.insert(0, x)
    linear_terms_list.append(row)
    
columns = ['Label']
for i in range(0,len(likelihood_ratio_table)):
    step = 'Step ' + str(i+1)
    columns.append(step)
    
linear_terms_df = pd.DataFrame(linear_terms_list,columns = columns)
linear_terms_df

,Label,Step 1,Step 2,Step 3,Step 4,Step 5,Step 6
0,gender,84.534295,-,-,-,-,-
1,age,-,-,-,-,-,-
2,hypertension,-,-,-,-,-,-
3,ever_married,1.168323,2.996465,3.461215,-,-,-
4,Residence_type,-0.341327,-0.847312,-0.62986,-0.37917,-0.170479,-0.266482
5,avg_glucose_level,-,-,-,-,-,-
6,bmi,-,-,-,-,-,-
7,work_type_Govt_job,-1.326113,-1.333798,-1.208561,-1.162271,-1.466388,-0.746577
8,work_type_Never_worked,0.153683,0.168043,0.117838,0.132931,0.16078,0.156469
9,work_type_Private,3.569593,3.040585,2.682737,3.01767,2.913253,-
10,work_type_Self-employed,3.041718,2.238532,2.789207,2.839451,2.637447,-1.765469
11,work_type_children,-1.362482,-1.082066,-1.299216,-1.306687,-1.246097,-0.915036
12,smoking_status_Unknown,1.589063,1.625019,-0.498998,-0.567328,-0.749195,-0.634615
13,smoking_status_formerly smoked,1.124374,-0.005511,3.215823,3.575756,-,-
14,smoking_status_never smoked,20.954837,10.654509,1.531359,1.72829,-0.66555,-0.610297
15,smoking_status_smokes,40.711473,32.438998,-,-,-,-

In [56]:
X_l

['age',
 'hypertension',
 'avg_glucose_level',
 'bmi',
 'gender',
 'smoking_status_smokes',
 'ever_married',
 'smoking_status_formerly smoked',
 'work_type_Private']

In [57]:
model_linear = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:8.5}))])
model_linear.fit(X.loc[:,X_l], T)

predictions_binary = model_linear.predict(X.loc[:,X_l])
print('Accuracy: {:.4f}\n'.format(metrics.accuracy_score(T, predictions_binary)))
print('Confusion matrix:\n{}\n'.format(metrics.confusion_matrix(T, predictions_binary)))
print('F1 score is: {:.4f}'.format(metrics.f1_score(T, predictions_binary)))

Accuracy: 0.8553

Confusion matrix:
[[4039  626]
 [  84  159]]

F1 score is: 0.3093

In [58]:
X_copy = X.loc[:,X_l]

for i in range(0, len(X_l)):
    j = i
    while j < len(X_l):
        X_copy[X_l[i]+'*'+X_l[j]] = X_copy[X_l[i]] * X_copy[X_l[j]]
        j += 1

X_copy

,age,hypertension,avg_glucose_level,bmi,gender,smoking_status_smokes,ever_married,smoking_status_formerly smoked,work_type_Private,age*age,...,smoking_status_smokes*smoking_status_smokes,smoking_status_smokes*ever_married,smoking_status_smokes*smoking_status_formerly smoked,smoking_status_smokes*work_type_Private,ever_married*ever_married,ever_married*smoking_status_formerly smoked,ever_married*work_type_Private,smoking_status_formerly smoked*smoking_status_formerly smoked,smoking_status_formerly smoked*work_type_Private,work_type_Private*work_type_Private
0,67.0,0,228.69,36.6,1.0,0,1,1,1,4489.0,...,0,0,0,0,1,1,1,1,1,1
1,80.0,0,105.92,32.5,1.0,0,1,0,1,6400.0,...,0,0,0,0,1,0,1,0,0,1
2,49.0,0,171.23,34.4,0.0,1,1,0,1,2401.0,...,1,1,0,1,1,0,1,0,0,1
3,79.0,1,174.12,24.0,0.0,0,1,0,0,6241.0,...,0,0,0,0,1,0,0,0,0,0
4,81.0,0,186.21,29.0,1.0,0,1,1,1,6561.0,...,0,0,0,0,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,13.0,0,103.08,18.6,0.0,0,0,0,0,169.0,...,0,0,0,0,0,0,0,0,0,0
4904,81.0,0,125.20,40.0,0.0,0,1,0,0,6561.0,...,0,0,0,0,1,0,0,0,0,0
4905,35.0,0,82.99,30.6,0.0,0,1,0,0,1225.0,...,0,0,0,0,1,0,0,0,0,0
4906,51.0,0,166.29,25.6,1.0,0,1,1,1,2601.0,...,0,0,0,0,1,1,1,1,1,1
4907,44.0,0,85.28,26.2,0.0,0,1,0,0,1936.0,...,0,0,0,0,1,0,0,0,0,0

In [59]:
likelihood_ratio_table = []
X_2 = X_l.copy()

while not likelihood_ratio_table or max([x for x in likelihood_ratio_table[-1].values() if x != '-']) >= 2.71:
    if likelihood_ratio_table:
        max_likelihood_ratio = max([x for x in likelihood_ratio_table[-1].values() if x != '-'])
        next_label = [key for key in likelihood_ratio_table[-1] if likelihood_ratio_table[-1][key] == max_likelihood_ratio][0]
        X_2.append(next_label)
    model = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:8.5}))])
    model.fit(X_copy.loc[:,X_2], T)
    step = {}
    for x in X_copy.columns:
        if x in X_2:
            step[x] = '-'
        else:
            X_new = X_2.copy()
            X_new.append(x)
            model_new = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:8.5}))])
            model_new.fit(X_copy.loc[:,X_new], T)
            
            step[x] = -2*((-metrics.log_loss(T, model.predict_proba(X_copy.loc[:,X_2]))*len(T))
                      -(-metrics.log_loss(T, model_new.predict_proba(X_copy.loc[:,X_new]))*len(T)))
    likelihood_ratio_table.append(step)

In [60]:
final_terms_list = []
for x in X_copy.columns:
    row = [step[x] for step in likelihood_ratio_table]
    row.insert(0, x)
    final_terms_list.append(row)
    
final_columns = ['Label']
for i in range(0,len(likelihood_ratio_table)):
    step = 'Step ' + str(i+1)
    final_columns.append(step)
    
final_terms_df = pd.DataFrame(final_terms_list,columns = final_columns)
final_terms_df

,Label,Step 1,Step 2,Step 3,Step 4,Step 5,Step 6,Step 7,Step 8,Step 9,Step 10,Step 11
0,age,-,-,-,-,-,-,-,-,-,-,-
1,hypertension,-,-,-,-,-,-,-,-,-,-,-
2,avg_glucose_level,-,-,-,-,-,-,-,-,-,-,-
3,bmi,-,-,-,-,-,-,-,-,-,-,-
4,gender,-,-,-,-,-,-,-,-,-,-,-
5,smoking_status_smokes,-,-,-,-,-,-,-,-,-,-,-
6,ever_married,-,-,-,-,-,-,-,-,-,-,-
7,smoking_status_formerly smoked,-,-,-,-,-,-,-,-,-,-,-
8,work_type_Private,-,-,-,-,-,-,-,-,-,-,-
9,age*age,7.734767,5.735081,4.661751,3.992416,4.35369,3.561298,-,-,-,-,-
10,age*hypertension,1.435696,1.67342,0.900673,0.595787,0.639816,0.344659,-0.027409,-0.001787,-0.188507,-0.218638,-0.009757
11,age*avg_glucose_level,3.929394,5.24,1.816287,3.309411,3.687299,2.525359,1.746458,1.945201,2.013927,1.660426,1.506828
12,age*bmi,0.692123,3.951151,4.03286,4.317895,4.470678,-,-,-,-,-,-
13,age*gender,0.440365,0.323123,0.104534,-0.223401,0.435637,0.29903,0.585049,0.865334,0.67127,0.705763,1.837223
14,age*smoking_status_smokes,0.474776,0.7028,0.508915,0.351913,0.352366,0.372823,0.230832,0.305543,0.303454,0.121134,0.095984
15,age*ever_married,0.126627,0.194159,0.573556,0.492467,0.499493,0.875645,4.100986,-,-,-,-
16,age*smoking_status_formerly smoked,0.921631,0.560462,0.035293,-0.102833,-0.22342,-0.188153,-0.418953,-0.090093,-0.003271,-0.120208,-0.021322
17,age*work_type_Private,0.472484,1.084461,-0.062371,-0.585722,-0.531069,-0.164837,-0.543208,-0.382059,-0.509673,-0.596892,-0.339867
18,hypertension*hypertension,0.074828,-0.033911,-0.008264,-0.002033,0.007228,-0.065916,-0.062964,0.053589,0.080275,-0.137055,0.014112
19,hypertension*avg_glucose_level,1.656052,1.076123,1.047804,0.811429,0.759996,0.596882,0.51724,0.756215,0.963148,0.469703,0.568527
20,hypertension*bmi,0.308814,2.13107,2.036755,1.730258,1.706288,2.475621,2.271287,2.408368,2.020575,2.076111,2.219048
21,hypertension*gender,-0.067276,-0.113055,-0.33315,-0.222514,-0.231008,-0.32149,-0.455089,-0.222874,-0.410847,-0.905561,-0.678239
22,hypertension*smoking_status_smokes,1.233422,1.351974,0.666567,0.557037,0.324611,0.24612,0.147254,0.397997,1.248554,1.60015,1.655084
23,hypertension*ever_married,1.666156,1.952353,2.314704,2.843982,2.376923,2.162192,1.235019,2.911842,2.850199,-,-
24,hypertension*smoking_status_formerly smoked,2.847518,3.04382,3.628175,2.974418,3.399487,3.402962,3.447314,3.670545,-,-,-
25,hypertension*work_type_Private,4.72818,4.26717,2.118459,1.928908,1.774173,1.951918,1.730302,2.076038,1.981408,1.518322,1.67713
26,avg_glucose_level*avg_glucose_level,0.136866,0.023518,0.2958,0.38741,0.181763,0.233622,0.175492,0.340734,0.243664,0.084417,0.139734
27,avg_glucose_level*bmi,6.113371,1.036723,2.048455,2.166751,2.070507,0.941347,0.868249,0.867118,0.719108,0.846827,1.124044
28,avg_glucose_level*gender,16.977076,17.385455,20.220672,-,-,-,-,-,-,-,-
29,avg_glucose_level*smoking_status_smokes,-0.157149,-0.142775,-0.168524,-0.032858,-0.031004,-0.093863,-0.181243,-0.049329,-0.016729,-0.18906,-0.179352
30,avg_glucose_level*ever_married,2.065413,2.044171,2.157182,1.214828,1.231463,1.286183,0.928637,1.768641,1.886255,1.503638,1.316038
31,avg_glucose_level*smoking_status_formerly smoked,0.017437,0.085233,-0.025869,0.173241,0.135143,0.126106,0.243889,0.370933,0.034968,0.06459,0.008284
32,avg_glucose_level*work_type_Private,20.582963,20.807477,-,-,-,-,-,-,-,-,-
33,bmi*bmi,21.018173,-,-,-,-,-,-,-,-,-,-
34,bmi*gender,0.448593,0.585438,0.365201,2.650279,3.075546,2.32926,1.95946,2.135552,1.909298,1.499056,1.970359
35,bmi*smoking_status_smokes,-3.051925,-3.229454,-3.251269,-3.817367,-2.317996,-0.749998,-1.038127,-1.193132,-1.267102,-1.255412,-0.944807
36,bmi*ever_married,0.189934,0.388282,0.308345,0.507271,0.618215,1.582077,1.734484,2.210305,2.001968,1.790398,1.866584
37,bmi*smoking_status_formerly smoked,1.401429,1.905004,2.47765,2.248438,2.440154,3.217984,2.88813,3.046269,2.413849,2.447393,2.632891
38,bmi*work_type_Private,1.140406,1.843637,0.132866,0.047981,0.227926,0.074874,0.015429,0.254803,0.045922,-0.076715,0.155533
39,gender*gender,0.054609,-0.001752,-0.007476,-0.00975,-0.081563,-0.034209,-0.137736,-0.030659,-0.087358,-0.070162,0.081838
40,gender*smoking_status_smokes,-0.278474,-0.172445,0.531704,1.341527,1.048331,0.822172,0.628229,0.657172,0.814884,0.995018,1.048376
41,gender*ever_married,0.93091,1.151687,1.103778,1.815759,1.942242,1.964589,1.42151,2.744313,2.49144,2.768422,-
42,gender*smoking_status_formerly smoked,0.292295,0.143916,0.088053,-0.01961,-0.016591,0.02246,-0.058162,0.130668,0.118213,-0.050917,-0.101596
43,gender*work_type_Private,6.042262,6.480079,7.742169,5.14045,-,-,-,-,-,-,-
44,smoking_status_smokes*smoking_status_smokes,0.039655,0.025708,0.02221,0.008332,0.016294,-0.002124,-0.063761,0.170626,-0.016332,-0.16415,-0.063037
45,smoking_status_smokes*ever_married,1.553836,1.499309,1.641817,1.327172,1.238798,1.278327,1.280064,0.480705,0.294043,0.55231,0.875829
46,smoking_status_smokes*smoking_status_formerly ...,-0.0,0.0,0.0,0.0,-0.0,-0.0,0.0,-0.000001,-0.0,0.0,0.000006
47,smoking_status_smokes*work_type_Private,0.077591,0.088518,0.359865,0.714425,1.033789,1.073751,1.099328,1.284214,1.303084,1.300352,1.466483
48,ever_married*ever_married,0.08454,-0.017151,-0.021796,-0.034007,0.000808,0.097158,-0.077547,0.136164,0.143087,-0.010912,0.1426
49,ever_married*smoking_status_formerly smoked,0.565719,0.421303,0.408025,0.371281,0.332258,0.325277,0.447949,0.358012,0.354182,0.683224,0.840058
50,ever_married*work_type_Private,-0.691492,-0.877738,-0.881789,-0.755344,-0.983046,-0.901677,-1.131565,-0.709674,-0.859438,-0.087399,0.177057
51,smoking_status_formerly smoked*smoking_status_...,0.050571,0.026767,0.008025,0.053352,0.033959,0.044434,-0.092963,0.478655,-0.02907,-0.006783,-0.024255
52,smoking_status_formerly smoked*work_type_Private,1.937488,1.597857,0.614425,0.450923,0.842786,1.015594,0.568579,0.752448,0.580618,0.639358,0.758529
53,work_type_Private*work_type_Private,0.038609,-0.011013,0.006135,-0.009645,0.009443,0.010868,-0.083295,0.076076,0.225742,-0.087352,0.13074

In [64]:
X_2

['age',
 'hypertension',
 'avg_glucose_level',
 'bmi',
 'gender',
 'smoking_status_smokes',
 'ever_married',
 'smoking_status_formerly smoked',
 'work_type_Private',
 'bmi*bmi',
 'avg_glucose_level*work_type_Private',
 'avg_glucose_level*gender',
 'gender*work_type_Private',
 'age*bmi',
 'age*age',
 'age*ever_married',
 'hypertension*smoking_status_formerly smoked',
 'hypertension*ever_married',
 'gender*ever_married']

In [65]:
model_final = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:8.5}))])
model_final.fit(X_copy.loc[:,X_2], T)

predictions_binary = model_final.predict(X_copy.loc[:,X_2])
print('Accuracy: {:.4f}\n'.format(metrics.accuracy_score(T, predictions_binary)))
print('Confusion matrix:\n{}\n'.format(metrics.confusion_matrix(T, predictions_binary)))
print('F1 score is: {:.4f}'.format(metrics.f1_score(T, predictions_binary)))

Accuracy: 0.8608

Confusion matrix:
[[4059  606]
 [  77  166]]

F1 score is: 0.3271

In [66]:
treat_index = []
control_index = []
for i in range(0,len(T)):
    if T[i] == 1:
        treat_index.append(i)
    elif T[i] == 0:
        control_index.append(i)

In [67]:
predictions = model_final.predict_proba(X_copy.loc[:,X_2])

ate_ipw = sum([T[i]*Y[i]/predictions[i][1] for i in treat_index]) / sum([T[i]/predictions[i][1] for i in treat_index]) 
- sum([(1-T[i])*Y[i]/(1-predictions[i][1]) for i in control_index]) / sum([(1-T[i])/(1-predictions[i][1]) for i in control_index])

-0.0662223324708259