In [7]:

import warnings
warnings.filterwarnings('ignore')
import math
import numpy as np
import pandas as pd
# import scipy.stats as stats
import statsmodels.api as sm

import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline

import seaborn as sns
sns.set(rc={'figure.figsize':(16,10)}, font_scale=1.3)

from scipy import stats

from sklearn.linear_model import LogisticRegression as lr

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors
from sklearn import metrics

In [8]:
df = pd.read_csv('./healthcare-dataset-stroke-data.csv')

In [9]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [10]:
# delete row with NA value
df_na = df.dropna()

In [11]:
df_na.reset_index(inplace=True)

In [12]:
pd.isnull(df_na).any()

index                False
id                   False
gender               False
age                  False
hypertension         False
heart_disease        False
ever_married         False
work_type            False
Residence_type       False
avg_glucose_level    False
bmi                  False
smoking_status       False
stroke               False
dtype: bool

In [13]:
df_na

,index,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4904,5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
4905,5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
4906,5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
4907,5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
4908,5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [14]:
df_na['ever_married'] = df_na.ever_married.map({'Yes':1, 'No':0})
# For gender, 1 means Male, 0 means Female
df_na['gender'] = df_na.gender.map({'Male':1, 'Female':0})
# For Residence_type, 1 means Urban, 0 means Rural
df_na['Residence_type'] = df_na.Residence_type.map({'Urban':1, 'Rural':0})

In [15]:
pd.isnull(df_na).any()
# delete the row with 'gender' value of 'Other'
df_na = df_na.dropna()
df_na.reset_index(drop=True,inplace=True)
pd.isnull(df_na).any()

index                False
id                   False
gender               False
age                  False
hypertension         False
heart_disease        False
ever_married         False
work_type            False
Residence_type       False
avg_glucose_level    False
bmi                  False
smoking_status       False
stroke               False
dtype: bool

In [16]:
df_data = df_na.drop(columns=['index','id'])
df_data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1.0,67.0,0,1,1,Private,1,228.69,36.6,formerly smoked,1
1,1.0,80.0,0,1,1,Private,0,105.92,32.5,never smoked,1
2,0.0,49.0,0,0,1,Private,1,171.23,34.4,smokes,1
3,0.0,79.0,1,0,1,Self-employed,0,174.12,24.0,never smoked,1
4,1.0,81.0,0,0,1,Private,1,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4903,0.0,13.0,0,0,0,children,0,103.08,18.6,Unknown,0
4904,0.0,81.0,0,0,1,Self-employed,1,125.20,40.0,never smoked,0
4905,0.0,35.0,0,0,1,Self-employed,0,82.99,30.6,never smoked,0
4906,1.0,51.0,0,0,1,Private,0,166.29,25.6,formerly smoked,0
4907,0.0,44.0,0,0,1,Govt_job,1,85.28,26.2,Unknown,0

In [17]:
df_encoded = pd.get_dummies(df_data, columns = ['work_type','smoking_status'], \
                           prefix = {'work_type':'work_type', 'smoking_status' : 'smoking_status'}, drop_first=False)
df_encoded

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1.0,67.0,0,1,1,1,228.69,36.6,1,0,0,1,0,0,0,1,0,0
1,1.0,80.0,0,1,1,0,105.92,32.5,1,0,0,1,0,0,0,0,1,0
2,0.0,49.0,0,0,1,1,171.23,34.4,1,0,0,1,0,0,0,0,0,1
3,0.0,79.0,1,0,1,0,174.12,24.0,1,0,0,0,1,0,0,0,1,0
4,1.0,81.0,0,0,1,1,186.21,29.0,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,0.0,13.0,0,0,0,0,103.08,18.6,0,0,0,0,0,1,1,0,0,0
4904,0.0,81.0,0,0,1,1,125.20,40.0,0,0,0,0,1,0,0,0,1,0
4905,0.0,35.0,0,0,1,0,82.99,30.6,0,0,0,0,1,0,0,0,1,0
4906,1.0,51.0,0,0,1,0,166.29,25.6,0,0,0,1,0,0,0,1,0,0
4907,0.0,44.0,0,0,1,1,85.28,26.2,0,1,0,0,0,0,1,0,0,0

In [18]:
df_treatment = df_encoded[df_encoded['hypertension']==1]
df_control = df_encoded[df_encoded['hypertension']==0]

In [19]:
treat_mean = df_treatment.mean()
treat_std = df_treatment.std()
control_mean = df_control.mean()
control_std = df_control.std()

In [20]:
X_list = ['gender','age','heart_disease','ever_married','Residence_type','avg_glucose_level','bmi','work_type_Govt_job',
          'work_type_Never_worked','work_type_Private','work_type_Self-employed','work_type_children','smoking_status_Unknown',
          'smoking_status_formerly smoked','smoking_status_never smoked','smoking_status_smokes']
X_descrip = ['0 to Female and 1 to Male','age of the sample','observation of heart_disease',
             'Marriage states','0 to Rural and 1 to Urban','average glucose level','bmi','Whether is government job',
             'Whether is never worked','Whether job is private','Whether job is self-employed','Whether job is children',
             'Whether smoking status is unknown','Whether is formerly smoked','Whether is never smoked','Whether is smokes']

In [21]:
summary_list = []

for i in range(0, len(X_list)):
    summary_list.append([X_list[i],X_descrip[i],control_mean[X_list[i]],control_std[X_list[i]],treat_mean[X_list[i]],treat_std[X_list[i]],
                    stats.ttest_ind(df_control[X_list[i]], df_treatment[X_list[i]], equal_var=False)[0]])

summary_df = pd.DataFrame(summary_list,columns=
                          ['Label', 'Variable Description','Controls Mean','Controls STD','Treated Mean','Treated STD','t-Statistics'])
summary_df

,Label,Variable Description,Controls Mean,Controls STD,Treated Mean,Treated STD,t-Statistics
0,gender,0 to Female and 1 to Male,0.406327,0.491202,0.443459,0.497345,-1.512645
1,age,age of the sample,40.900184,22.330268,62.323725,13.877298,-29.183933
2,heart_disease,observation of heart_disease,0.041508,0.199484,0.128603,0.335132,-5.422738
3,ever_married,Marriage states,0.628225,0.483333,0.895787,0.305876,-16.597811
4,Residence_type,0 to Rural and 1 to Urban,0.507516,0.500000,0.505543,0.500524,0.079782
5,avg_glucose_level,average glucose level,102.745255,41.622091,130.518958,60.536651,-9.518253
6,bmi,bmi,28.475432,7.639211,33.036585,8.711778,-10.709907
7,work_type_Govt_job,Whether is government job,0.126318,0.332245,0.148559,0.356048,-1.271715
8,work_type_Never_worked,Whether is never worked,0.004936,0.070091,0.000000,0.000000,4.701507
9,work_type_Private,Whether job is private,0.573256,0.494660,0.565410,0.496254,0.320033
10,work_type_Self-employed,Whether job is self-employed,0.144941,0.352080,0.286031,0.452406,-6.428972
11,work_type_children,Whether job is children,0.150550,0.357650,0.000000,0.000000,28.102409
12,smoking_status_Unknown,Whether smoking status is unknown,0.323087,0.467708,0.095344,0.294015,14.677741
13,smoking_status_formerly smoked,Whether is formerly smoked,0.162890,0.369307,0.243902,0.429911,-3.860328
14,smoking_status_never smoked,Whether is never smoked,0.367063,0.482058,0.478936,0.500111,-4.541864
15,smoking_status_smokes,Whether is smokes,0.146960,0.354106,0.181818,0.386123,-1.840491

In [22]:
df = df_encoded
df

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1.0,67.0,0,1,1,1,228.69,36.6,1,0,0,1,0,0,0,1,0,0
1,1.0,80.0,0,1,1,0,105.92,32.5,1,0,0,1,0,0,0,0,1,0
2,0.0,49.0,0,0,1,1,171.23,34.4,1,0,0,1,0,0,0,0,0,1
3,0.0,79.0,1,0,1,0,174.12,24.0,1,0,0,0,1,0,0,0,1,0
4,1.0,81.0,0,0,1,1,186.21,29.0,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,0.0,13.0,0,0,0,0,103.08,18.6,0,0,0,0,0,1,1,0,0,0
4904,0.0,81.0,0,0,1,1,125.20,40.0,0,0,0,0,1,0,0,0,1,0
4905,0.0,35.0,0,0,1,0,82.99,30.6,0,0,0,0,1,0,0,0,1,0
4906,1.0,51.0,0,0,1,0,166.29,25.6,0,0,0,1,0,0,0,1,0,0
4907,0.0,44.0,0,0,1,1,85.28,26.2,0,1,0,0,0,0,1,0,0,0

In [23]:
Y = df.stroke

df_data = df.loc[:,df.columns !='stroke']
T = df_data.hypertension
X = df_data.loc[:,df_data.columns !='hypertension']

In [24]:
X_h = ['age','heart_disease','avg_glucose_level','bmi']

In [25]:
T.mean()

0.09189079054604726

In [52]:
# weighted based on size ratio of treatment group and control group
model_initial = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:4.75}))])
model_initial.fit(X.loc[:,X_h], T)

predictions_binary = model_initial.predict(X.loc[:,X_h])
print('Accuracy: {:.4f}\n'.format(metrics.accuracy_score(T, predictions_binary)))
print('Confusion matrix:\n{}\n'.format(metrics.confusion_matrix(T, predictions_binary)))
print('F1 score is: {:.4f}'.format(metrics.f1_score(T, predictions_binary)))

Accuracy: 0.8138

Confusion matrix:
[[3756  701]
 [ 213  238]]

F1 score is: 0.3424

In [53]:
likelihood_ratio_table = []
X_l = X_h.copy()

while not likelihood_ratio_table or max([x for x in likelihood_ratio_table[-1].values() if x != '-']) >= 1:
    if likelihood_ratio_table:
        max_likelihood_ratio = max([x for x in likelihood_ratio_table[-1].values() if x != '-'])
        next_label = [key for key in likelihood_ratio_table[-1] if likelihood_ratio_table[-1][key] == max_likelihood_ratio][0]
        X_l.append(next_label)
    model = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:4.75}))])
    model.fit(X.loc[:,X_l], T)
    step = {}
    for x in X.columns:
        if x in X_l:
            step[x] = '-'
        else:
            X_new = X_l.copy()
            X_new.append(x)
            model_new = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:4.75}))])
            model_new.fit(X.loc[:,X_new], T)
            
            step[x] = -2*((-metrics.log_loss(T, model.predict_proba(X.loc[:,X_l]))*len(T))
                      -(-metrics.log_loss(T, model_new.predict_proba(X.loc[:,X_new]))*len(T)))
    likelihood_ratio_table.append(step)

In [54]:
linear_terms_list = []
for x in X.columns:
    row = [step[x] for step in likelihood_ratio_table]
    row.insert(0, x)
    linear_terms_list.append(row)
    
columns = ['Label']
for i in range(0,len(likelihood_ratio_table)):
    step = 'Step ' + str(i+1)
    columns.append(step)
    
linear_terms_df = pd.DataFrame(linear_terms_list,columns = columns)
linear_terms_df

,Label,Step 1,Step 2,Step 3,Step 4,Step 5,Step 6
0,gender,2.760703,2.816642,3.69661,3.751032,-,-
1,age,-,-,-,-,-,-
2,heart_disease,-,-,-,-,-,-
3,ever_married,1.077945,0.441671,0.655993,0.357304,0.297107,0.319278
4,Residence_type,0.108128,0.14971,0.083488,0.083278,0.051117,0.033348
5,avg_glucose_level,-,-,-,-,-,-
6,bmi,-,-,-,-,-,-
7,work_type_Govt_job,-0.263682,-0.088568,-0.089424,-0.038571,-0.070145,-0.146768
8,work_type_Never_worked,0.619679,0.64797,0.620592,0.676138,0.682143,0.685405
9,work_type_Private,0.247748,0.223716,0.21701,0.469573,0.522797,-0.121361
10,work_type_Self-employed,1.141002,1.094837,1.125179,1.22507,1.335547,-
11,work_type_children,9.162926,5.291931,5.1478,-,-,-
12,smoking_status_Unknown,54.386757,-,-,-,-,-
13,smoking_status_formerly smoked,-0.25476,5.656336,-,-,-,-
14,smoking_status_never smoked,18.397401,2.588428,-0.3106,-0.260301,-0.225732,-0.249981
15,smoking_status_smokes,4.769652,0.218617,-0.324022,-0.306484,-0.253371,-0.249754

In [55]:
X_l

['age',
 'heart_disease',
 'avg_glucose_level',
 'bmi',
 'smoking_status_Unknown',
 'smoking_status_formerly smoked',
 'work_type_children',
 'gender',
 'work_type_Self-employed']

In [56]:
model_linear = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:4.75}))])
model_linear.fit(X.loc[:,X_l], T)

predictions_binary = model_linear.predict(X.loc[:,X_l])
print('Accuracy: {:.4f}\n'.format(metrics.accuracy_score(T, predictions_binary)))
print('Confusion matrix:\n{}\n'.format(metrics.confusion_matrix(T, predictions_binary)))
print('F1 score is: {:.4f}'.format(metrics.f1_score(T, predictions_binary)))

Accuracy: 0.8162

Confusion matrix:
[[3768  689]
 [ 213  238]]

F1 score is: 0.3454

In [57]:
X_copy = X.loc[:,X_l]

for i in range(0, len(X_l)):
    j = i
    while j < len(X_l):
        X_copy[X_l[i]+'*'+X_l[j]] = X_copy[X_l[i]] * X_copy[X_l[j]]
        j += 1

X_copy

,age,heart_disease,avg_glucose_level,bmi,smoking_status_Unknown,smoking_status_formerly smoked,work_type_children,gender,work_type_Self-employed,age*age,...,smoking_status_formerly smoked*smoking_status_formerly smoked,smoking_status_formerly smoked*work_type_children,smoking_status_formerly smoked*gender,smoking_status_formerly smoked*work_type_Self-employed,work_type_children*work_type_children,work_type_children*gender,work_type_children*work_type_Self-employed,gender*gender,gender*work_type_Self-employed,work_type_Self-employed*work_type_Self-employed
0,67.0,1,228.69,36.6,0,1,0,1.0,0,4489.0,...,1,0,1.0,0,0,0.0,0,1.0,0.0,0
1,80.0,1,105.92,32.5,0,0,0,1.0,0,6400.0,...,0,0,0.0,0,0,0.0,0,1.0,0.0,0
2,49.0,0,171.23,34.4,0,0,0,0.0,0,2401.0,...,0,0,0.0,0,0,0.0,0,0.0,0.0,0
3,79.0,0,174.12,24.0,0,0,0,0.0,1,6241.0,...,0,0,0.0,0,0,0.0,0,0.0,0.0,1
4,81.0,0,186.21,29.0,0,1,0,1.0,0,6561.0,...,1,0,1.0,0,0,0.0,0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,13.0,0,103.08,18.6,1,0,1,0.0,0,169.0,...,0,0,0.0,0,1,0.0,0,0.0,0.0,0
4904,81.0,0,125.20,40.0,0,0,0,0.0,1,6561.0,...,0,0,0.0,0,0,0.0,0,0.0,0.0,1
4905,35.0,0,82.99,30.6,0,0,0,0.0,1,1225.0,...,0,0,0.0,0,0,0.0,0,0.0,0.0,1
4906,51.0,0,166.29,25.6,0,1,0,1.0,0,2601.0,...,1,0,1.0,0,0,0.0,0,1.0,0.0,0
4907,44.0,0,85.28,26.2,1,0,0,0.0,0,1936.0,...,0,0,0.0,0,0,0.0,0,0.0,0.0,0

In [58]:
likelihood_ratio_table = []
X_2 = X_l.copy()

while not likelihood_ratio_table or max([x for x in likelihood_ratio_table[-1].values() if x != '-']) >= 2.71:
    if likelihood_ratio_table:
        max_likelihood_ratio = max([x for x in likelihood_ratio_table[-1].values() if x != '-'])
        next_label = [key for key in likelihood_ratio_table[-1] if likelihood_ratio_table[-1][key] == max_likelihood_ratio][0]
        X_2.append(next_label)
    model = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:4.75}))])
    model.fit(X_copy.loc[:,X_2], T)
    step = {}
    for x in X_copy.columns:
        if x in X_2:
            step[x] = '-'
        else:
            X_new = X_2.copy()
            X_new.append(x)
            model_new = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:4.75}))])
            model_new.fit(X_copy.loc[:,X_new], T)
            
            step[x] = -2*((-metrics.log_loss(T, model.predict_proba(X_copy.loc[:,X_2]))*len(T))
                      -(-metrics.log_loss(T, model_new.predict_proba(X_copy.loc[:,X_new]))*len(T)))
    likelihood_ratio_table.append(step)

In [59]:
final_terms_list = []
for x in X_copy.columns:
    row = [step[x] for step in likelihood_ratio_table]
    row.insert(0, x)
    final_terms_list.append(row)
    
final_columns = ['Label']
for i in range(0,len(likelihood_ratio_table)):
    step = 'Step ' + str(i+1)
    final_columns.append(step)
    
final_terms_df = pd.DataFrame(final_terms_list,columns = final_columns)
final_terms_df

,Label,Step 1,Step 2,Step 3,Step 4,Step 5,Step 6,Step 7,Step 8,Step 9,Step 10
0,age,-,-,-,-,-,-,-,-,-,-
1,heart_disease,-,-,-,-,-,-,-,-,-,-
2,avg_glucose_level,-,-,-,-,-,-,-,-,-,-
3,bmi,-,-,-,-,-,-,-,-,-,-
4,smoking_status_Unknown,-,-,-,-,-,-,-,-,-,-
5,smoking_status_formerly smoked,-,-,-,-,-,-,-,-,-,-
6,work_type_children,-,-,-,-,-,-,-,-,-,-
7,gender,-,-,-,-,-,-,-,-,-,-
8,work_type_Self-employed,-,-,-,-,-,-,-,-,-,-
9,age*age,15.952247,-,-,-,-,-,-,-,-,-
10,age*heart_disease,1.305236,0.00554,0.069264,0.035167,-0.000165,0.413333,0.245823,-0.004316,0.079624,-0.052243
11,age*avg_glucose_level,1.625185,0.109619,-0.053125,-0.098819,-0.032685,0.008537,-0.055122,0.018814,-0.251891,0.548147
12,age*bmi,10.596503,20.420611,-,-,-,-,-,-,-,-
13,age*smoking_status_Unknown,-0.039626,0.001974,0.162065,0.277542,0.220625,0.439502,0.014506,0.020724,-0.334993,-0.121309
14,age*smoking_status_formerly smoked,0.474863,2.167595,1.64433,2.524234,2.714656,2.763836,3.055826,3.454194,-,-
15,age*work_type_children,0.11337,0.047421,-0.022981,-0.01399,0.065418,0.162574,0.229369,0.017547,-0.219019,0.281206
16,age*gender,6.558801,7.385504,8.048829,-,-,-,-,-,-,-
17,age*work_type_Self-employed,1.220131,-0.079574,-0.156797,-0.006367,-0.064141,0.37106,0.227879,0.012883,-0.144584,-0.064328
18,heart_disease*heart_disease,0.001668,-0.037865,0.020408,0.086365,0.017089,0.074793,0.000187,0.009441,-0.211475,0.036533
19,heart_disease*avg_glucose_level,0.130855,0.139666,0.199139,0.272746,0.1643,0.518084,0.409968,0.545572,0.269107,0.861391
20,heart_disease*bmi,1.244256,0.565496,2.477977,2.237335,2.27446,1.449225,1.296717,1.375287,1.153769,1.514566
21,heart_disease*smoking_status_Unknown,0.949315,0.831818,0.614936,0.555444,0.570716,0.060791,0.261658,1.095157,0.791691,1.093456
22,heart_disease*smoking_status_formerly smoked,1.448875,1.549898,1.387431,1.435122,1.342428,1.715238,1.844871,1.916737,1.133121,1.213402
23,heart_disease*work_type_children,0.000161,-0.008075,-0.008708,0.075704,-0.032651,0.042006,-0.059459,-0.031873,-0.211213,-0.095089
24,heart_disease*gender,-0.16211,-0.077606,-0.102552,0.030182,0.160824,0.603662,0.467757,0.453306,0.234496,0.502404
25,heart_disease*work_type_Self-employed,5.977124,5.195874,5.325821,4.73676,6.481359,-,-,-,-,-
26,avg_glucose_level*avg_glucose_level,-0.076249,-0.110314,0.104284,-0.102486,-0.171256,-0.074091,0.087799,-0.168135,-0.385228,-0.4635
27,avg_glucose_level*bmi,5.16272,7.943391,1.901782,2.140014,2.517559,2.617195,2.726917,2.741121,2.830872,-
28,avg_glucose_level*smoking_status_Unknown,4.557073,4.039171,4.782397,4.923417,4.562142,4.593136,5.042747,-,-,-
29,avg_glucose_level*smoking_status_formerly smoked,-0.034957,0.143526,0.192119,0.357662,0.160977,0.459921,0.375485,1.082961,0.402363,0.535272
30,avg_glucose_level*work_type_children,0.107823,0.021246,0.053813,0.027642,0.020816,0.135958,0.054931,-0.024667,-0.284364,-0.016264
31,avg_glucose_level*gender,-0.079702,-0.088971,-0.095613,0.07516,0.038167,0.205303,0.099096,0.061693,-0.017509,0.167163
32,avg_glucose_level*work_type_Self-employed,0.383873,0.74233,0.66951,0.716053,0.427159,0.848225,0.810975,0.698433,0.417721,0.540019
33,bmi*bmi,1.014687,3.943118,0.502286,0.971916,0.905702,0.884874,0.793628,0.646397,1.124093,1.038989
34,bmi*smoking_status_Unknown,0.342066,0.810746,0.051345,0.075319,0.041463,0.111972,0.026961,-0.037548,-0.124895,0.195374
35,bmi*smoking_status_formerly smoked,-0.381106,-0.436866,0.152416,0.098458,0.060592,0.165318,0.077372,-0.044615,1.709469,1.110542
36,bmi*work_type_children,0.103038,0.048076,0.031909,0.172034,0.010883,0.09696,0.044895,-0.030977,-0.219274,0.133487
37,bmi*gender,3.451467,3.482432,1.293199,0.189085,0.135771,0.085978,0.071318,-0.004445,-0.250274,1.475938
38,bmi*work_type_Self-employed,0.013439,0.195011,0.582394,0.587351,0.279477,0.14758,0.068137,0.051239,-0.230519,0.139714
39,smoking_status_Unknown*smoking_status_Unknown,-0.007043,-0.002886,-0.061199,-0.037072,0.128694,0.140566,0.059926,-0.064617,-0.356446,0.135492
40,smoking_status_Unknown*smoking_status_formerly...,-0.0,-0.0,0.0,-0.0,0.0,0.0,0.0,0.0,-0.000002,-0.0
41,smoking_status_Unknown*work_type_children,0.047265,0.069136,-0.008221,0.021292,0.095533,0.116115,0.000209,0.119383,-0.754037,-0.022959
42,smoking_status_Unknown*gender,-0.009745,0.024557,-0.086719,-0.023581,-0.027742,0.002395,-0.02918,-0.085246,-0.186028,-0.022145
43,smoking_status_Unknown*work_type_Self-employed,4.252,4.381534,4.38713,4.586853,4.316756,5.003851,-,-,-,-
44,smoking_status_formerly smoked*smoking_status_...,-0.014391,-0.01334,0.013603,0.034032,0.001801,0.096224,-0.01579,-0.048883,-0.262775,-0.141947
45,smoking_status_formerly smoked*work_type_children,-0.005368,-0.001101,-0.056922,0.050281,0.000869,0.103895,0.021439,-0.004761,-0.080908,-0.062249
46,smoking_status_formerly smoked*gender,4.853347,4.343576,4.388864,3.052625,3.252799,3.229017,2.941006,2.496871,2.169724,2.28817
47,smoking_status_formerly smoked*work_type_Self-...,-0.007855,-0.122559,-0.019371,0.05239,0.037328,0.108927,0.161446,0.215165,-0.167191,0.074802
48,work_type_children*work_type_children,0.119704,0.073204,-0.005193,0.079474,-0.060568,0.039605,0.072888,0.018386,-0.214587,-0.045495
49,work_type_children*gender,0.03125,0.010108,0.028763,0.060894,0.000635,0.16059,0.206156,-0.024552,-0.267344,-0.024226
50,work_type_children*work_type_Self-employed,-0.0,-0.0,0.0,-0.0,0.0,0.0,0.0,0.0,-0.000002,-0.0
51,gender*gender,0.003009,-0.001469,-0.005257,0.075598,0.031645,0.138953,0.075612,0.045322,-0.16389,0.018397
52,gender*work_type_Self-employed,2.644092,2.896235,3.139004,6.693853,-,-,-,-,-,-
53,work_type_Self-employed*work_type_Self-employed,0.000498,0.006762,-0.001826,0.095785,-0.035773,0.081751,0.045258,0.03382,-0.27407,-0.077749

In [60]:
X_2

['age',
 'heart_disease',
 'avg_glucose_level',
 'bmi',
 'smoking_status_Unknown',
 'smoking_status_formerly smoked',
 'work_type_children',
 'gender',
 'work_type_Self-employed',
 'age*age',
 'age*bmi',
 'age*gender',
 'gender*work_type_Self-employed',
 'heart_disease*work_type_Self-employed',
 'smoking_status_Unknown*work_type_Self-employed',
 'avg_glucose_level*smoking_status_Unknown',
 'age*smoking_status_formerly smoked',
 'avg_glucose_level*bmi']

In [61]:
model_final = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr(class_weight={0:1,1:4.75}))])
model_final.fit(X_copy.loc[:,X_2], T)

predictions_binary = model_final.predict(X_copy.loc[:,X_2])
print('Accuracy: {:.4f}\n'.format(metrics.accuracy_score(T, predictions_binary)))
print('Confusion matrix:\n{}\n'.format(metrics.confusion_matrix(T, predictions_binary)))
print('F1 score is: {:.4f}'.format(metrics.f1_score(T, predictions_binary)))

Accuracy: 0.8115

Confusion matrix:
[[3725  732]
 [ 193  258]]

F1 score is: 0.3581

In [62]:
treat_index = []
control_index = []
for i in range(0,len(T)):
    if T[i] == 1:
        treat_index.append(i)
    elif T[i] == 0:
        control_index.append(i)

In [63]:
predictions = model_final.predict_proba(X_copy.loc[:,X_2])

ate_ipw = sum([T[i]*Y[i]/predictions[i][1] for i in treat_index]) / sum([T[i]/predictions[i][1] for i in treat_index]) 
- sum([(1-T[i])*Y[i]/(1-predictions[i][1]) for i in control_index]) / sum([(1-T[i])/(1-predictions[i][1]) for i in control_index])

-0.05317933928430953